* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  /* background-color: #363639; */
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 45rem;
  height: 52rem;
  margin: 20em auto;
  /* background-color: #222227; */
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #2295b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.month i {
  /* color:red; */
  font-size: 2.5rem;
  cursor: pointer;
  /* background: #000; */
  
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: white;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  color:#2295b4;
  
}

.weekdays div {
  font-size: 1.5rem;
  /* font-weight: 600; */
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.days {
  width: 100%;
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  color:#2295b4;
  /* background-color: #2295b4; */
  /* font-weight: 600; */
}

.days div{
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
  transition: background-color 0.2s;
}

.edays:hover:not(.today) {
  background-color: #2295b4;
  color: white;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  position: relative;
  background-color: #2295b4;
  color: white;
}

.edays{
  /* color : white; */
  position: relative;
}
.edays .ndays, .today .ndays{
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(171, 192, 255);
  font-size: 12px;
  height: fit-content;
  /* margin: 1.5em  1.5em 0 0; */
  width: fit-content;

}

@media (max-width: 700px) {

  .calendar {
    width: 100%;
    height: 52rem;
    margin: 100em;
    /* background-color: #222227; */
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }


}



